:host {
    mat-card-content {
        min-height: 50px;
        display: flex;
        align-items: center;
    }

    mat-card-actions {
        display: flex;
        align-items: center;

        button {
            width: 50%;
        }
    }
}